.ui.image {
  width: 100%;
}
.handled {
  cursor: pointer;
}
.margined {
  margin: 5px !important;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.flex-child-left {
  flex: 0 1 400px;
}
.flex-child-right {
  flex: 1 1 400px;
}
.ui.segment > .ui.form > .inline.fields {
  margin-bottom: 0;
  line-height: 2em;
}
.main-list-item {
  width: 200px !important;
}
.imageloader.loading.ui.image {
  height: 292px !important;
  border-radius: inherit;
}

